@import url('https://fonts.googleapis.com/css?family=Gugi');

html,
body {
  margin: 0;
  padding: 0;
}

#glCanvas {
	padding: 0;
}

#webTitle {
	text-align: center;
	font-family: 'Gugi', cursive;
	padding-bottom: 0px;
}

.button {
	background-color: #0083FF; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.lamborghiniBtn {
    background-color: #0083FF; 
    color: white; 
    border: 2px solid #0083FF;
}

.lamborghiniBtn:hover {
    background-color: white;
    color: black;
}

.challengerBtn {
    background-color: #0083FF; 
    color: white; 
    border: 2px solid #0083FF;
}

.challengerBtn:hover {
    background-color: white;
    color: black;
}

.pattyBtn {
    background-color: #0083FF; 
    color: white; 
    border: 2px solid #0083FF;
}

.pattyBtn:hover {
    background-color: white;
    color: black;
}

.uploadBtn {
    background-color: #0083FF; 
    color: white; 
    border: 2px solid #0083FF;
}

.uploadBtn:hover {
    background-color: white;
    color: black;
}

.dropbtn {
    background-color: #0083FF;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropup {
    position: relative;
    display: inline-block;
    background-color: #0083FF; 
    color: black; 
    border: 2px solid #0083FF;
}

.dropup:hover {
    background-color: white;
    color: black;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
}

.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: #0083FF;
}